* {
  margin: 0;
  padding: 0;
}

html {
  color: #000000;
  line-height: 1.2;
  font-size: 20pt;
  font-family: 'Dongle', sans-serif;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #e49e2f;
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  padding: 0.5em;
  z-index: 2;
}

.title {
  font-family: "Rubik Bubbles", sans-serif;
  font-size: 1em;
}

.logo img {
  max-width: 10vw;
  width: 10vw;
  height: auto;
  display: block;
  animation: sway 3s ease-in-out infinite;
}

@keyframes sway {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

.navigation ul {
  display: flex;
  flex-direction: row;
  margin: 0.25em;
  gap: 0.3em;
  list-style: none;
}

.navigation ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.2em;
}

.navigation ul li a:hover {
  color: #b8252d
}

footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 2em;
  font-family: 'Dongle', sans-serif;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #d983b0;
}

@media (max-width: 480px) {
  
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .title {
  font-family: "Rubik Bubbles", sans-serif;
  font-size: 0.7em;
  }
  
  .logo img {
    max-width: 50vw;
    width: 30vw;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.2em;
  }

  .navigation ul li {
    margin: 0;        /* added: remove default li margin */
    padding: 0;       /* added: remove default li padding */
  }
  
  .navigation ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  }
}
