* {
  margin: 0;
  padding: 0;
}

html {
  color: #000000;
  line-height: 1.2;
  font-size: 20pt;
  font-family: 'Dongle', sans-serif;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #e49e2f;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  justify-items: space-around;
  top: 0px;
  padding: 0.5em;
  z-index: 2;
}
  

