* {
  margin: 0;
  padding: 0;
}

html {
  color: #ffffff;
  line-height: 1.2;
  font-size: 20pt;
  font-family: 'Dongle', sans-serif;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}



