* {
  margin: 0;
  padding: 0;
}

html {
  color: #000000;
  line-height: 1.2;
  font-size: 20pt;
  font-family: 'Dongle', sans-serif;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #e49e2f;
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  padding: 0.5em;
  z-index: 2;
}

.title {
  font-family: "Rubik Bubbles", sans-serif;
  font-size: 1em;
}

.logo img {
  max-width: 10vw;
  width: 10vw;
  height: auto;
  display: block;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  margin: 0.25em;
  gap: 0.3em;
  font-size: 1.2em;
  text-transform: uppercase;
}

